{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
    <title>Document</title>
</head>

<style>
    a{
        text-decoration: none;
    }
</style>
<body>
    



    <h1>sign up below</h1>

    <form action="" method="POST">

        <input type="text" name="username">
        <p>email</p>

        <input type="email" name="eamil">
    </form>

<a href=""></a>

    <a href=""><button type="submit"></button>Logout</a>






    <h1>input your text below:</h1>

    <form action="" method="">

        <textarea name="" id="" cols="30" rows="10"></textarea>
        <input type="submit">
    </form>


    <h1>the amout of words are {{amount}}</h1>
</body>
</html>